# auto managed by package managers
pnpm-lock.yaml
package-lock.json
yarn.lock

# compiled output
dist/
build/
bin/
output/
out/

# dependencies
node_modules/

# documentation (avoid prettier reformatting from breaking layout)
*.md

# environments
.env*
